@{
    ViewBag.Title = "GetChats";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Get chats page</title>
    <style>
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
            width: 100%;
        }
        th, td {
            padding: 15px;
        }
        th {
            text-align: left;
        }
        table tr:nth-child(even) {
            background-color: #eee;
        }
        table tr:nth-child(odd) {
            background-color: #fff;
        }
        table th {
            background-color: black;
            color: white;
        }
        caption {
            text-align: left;
            margin-bottom: 5px;
            text-transform: lowercase;
            font-size: 160%;
            padding: 5px;
            font-weight: bold;
        }
    </style>
</head>
<body>
    <div>
        <table>
        <caption>Chatrooms</caption>
            <tr>
                <th>Name</th>
                <th>Join</th>
            </tr>
            @foreach (var chat in ViewBag.Chats)
            {
                <tr style="cursor: pointer;">
                    <td onclick="location.href='@Url.Action("GetChat", "Chat", new { chatId = @chat.Id, maxNrOfUsers = @chat.MaxNrOfUsers, name = @chat.Name, ownerID = @chat.OwnerID, time = @chat.Time, type = @chat.Type })'")">@chat.Name</td>
                    <td bgcolor="#00FF00" onclick="window.location.href = '@Url.Action("ChatRoom", "Message", new{ chatId = @chat.Id, profileId = @chat.OwnerID})';">Join</td>
                </tr>
            }
        </table>
        <br>
        @using (Html.BeginForm())
        {
            <input type="text" name="input" placeholder="@ViewBag.SearchBy"/>
            <input type="number" name="profileId" placeholder="@ViewBag.ProfileId"/>
            <input type="submit"/>
        }
    </div>
</body>
</html>
