@{
    ViewBag.Title = "GetChats";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Get chats page</title>
    <style>
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
        }
        th, td {
            padding: 15px;
        }
        th {
            text-align: left;
        }
        table tr:nth-child(even) {
            background-color: #eee;
        }
        table tr:nth-child(odd) {
            background-color: #fff;
        }
        table th {
            background-color: black;
            color: white;
        }
        caption {
            text-align: left;
            margin-bottom: 5px;
            text-transform: lowercase;
            font-size: 160%;
            padding: 5px;
            font-weight: bold;
        }
    </style>
</head>
<body>
    <div>
        <table>
        <caption>Chatrooms</caption>
            <tr>
                <th>Id</th>
                <th>Owner ID</th>
                <th>Name</th>
                <th>Type</th>
                <th>Room size</th>
                <th>Creation time</th>
                <th>Join</th>
            </tr>
            @foreach (var chat in ViewBag.Chats)
            {
                <tr onmouseover="" style="cursor: pointer;">
                    <td onclick="window.location='http://localhost:53660/Chat/GetChat';">@chat.Id</td>
                    <td onclick="window.location='http://localhost:53660/Chat/GetChat';">@chat.OwnerID</td>
                    <td onclick="window.location='http://localhost:53660/Chat/GetChat';">@chat.Name</td>
                    <td onclick="window.location='http://localhost:53660/Chat/GetChat';">@chat.Type</td>
                    <td onclick="window.location='http://localhost:53660/Chat/GetChat';">@chat.MaxNrOfUsers</td>
                    <td onclick="window.location='http://localhost:53660/Chat/GetChat';">@chat.Time</td>
                    <td bgcolor="#00FF00" onclick="window.location='http://localhost:53660/Message/ChatRoom/@chat.Id/@chat.OwnerID';">Join</td>
                </tr>
            }
            <tr onmouseover="" style="cursor: pointer;">
                <td onclick="window.location='http://localhost:53660/Chat/GetChat/null';"> </td>
                <td onclick="window.location='http://localhost:53660/Chat/GetChat/null';"> </td>
                <td onclick="window.location='http://localhost:53660/Chat/GetChat/null';"> </td>
                <td onclick="window.location='http://localhost:53660/Chat/GetChat/null';"> </td>
                <td onclick="window.location='http://localhost:53660/Chat/GetChat/null';"> </td>
                <td onclick="window.location='http://localhost:53660/Chat/GetChat/null';"> </td>
                <td onclick="window.location='http://localhost:53660/Chat/GetChat/null';"> </td>
            </tr>
        </table>
        @using (Html.BeginForm())
        {
            <input type="text" name="input" placeholder="@ViewBag.SearchBy"/>
            <input type="number" name="profileId" placeholder="@ViewBag.ProfileId"/>
            <input type="submit" />
        }
    </div>
</body>
</html>
