@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Chat index page</title>
</head>
<body>
    <div>
        <h1>Chat (ViewBag example)</h1>
        <div>
            @foreach(var chat in Model)
            {
                <p>@chat.Id @chat.MaxNrOfUsers @chat.Name @chat.OwnerID @chat.Time</p>
            }
        </div>
    </div>
</body>
</html>
